/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333333;
    line-height: 1,2 ;
}

/* Estilos del header */
header {
    background-color: #444; /* Fondo claro */
    color: white;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    font-family: "Dancing Script", cursive;
    font-size: 4rem;
    margin-bottom:1rem;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 15px; /* Espacio entre los enlaces */
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px; /* Tamaño del recuadro */
    background-color: #444;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #555;
    color: #f0f0f0;
}


/* Estilos del contenedor principal */

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

h3 {
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    color: white;
    text-shadow: 
        1px 1px 0px #000,
        -1px -1px 0px #000,
        1px -1px 0px #000,
        -1px 1px 0px #000;
}

h4 {
    font-family: "Dancing Script", cursive;
    font-size: 20px; 
    color: white; 
    text-shadow: 
        1px 1px 0px #000, 
        -1px -1px 0px #000, 
        1px -1px 0px #000,
        -1px 1px 0px #000; 
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 2rem;
    width: 30%;
    text-align: center;
    transition: transform 0.3s;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

.product p {
    margin: 0.5rem 0;
}

.product .price {
    font-size: 1.2rem;
    color: #007bff;
    margin-bottom: 1rem;
}

.product button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.product button:hover {
    background-color: #218838;
}

.product:hover {
    transform: scale(1.05);
}

/* Estilos del carrito */
#cart {
    margin-top: 2rem;
}

#cart h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

#cart-items {
    list-style: none;
    padding: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 0;
    border-bottom: 1px solid #ddd;
}

#total {
    font-size: 1.5rem;
    text-align: right;
    margin-top: 1rem;
    color: #333;
    font-weight: bold;
}

/* Estilos del footer */
footer {
    background-color: transparent;
    color: #fff;
    padding: 4rem;
    text-align: center;
    margin-top: 1px;
}

footer .feature {
    display: inline-block;
}

footer img {
    width: 900px;
    height: 900px;
    margin-bottom: 0px;
    display: block;
    margin: 0 auto;
    background-color: transparent;
    border: none;
}

footer p {
    font-family: "Courgette", cursive;
    font-size: 21px !important;
    margin-top: 0;
    display: block;
}

/* Responsivo */
@media (max-width: 768px) {
    #product-list {
        flex-direction: column;
        align-items: center;
    }

    .product {
        width: 80%;
    }

    header nav ul {
        flex-direction: column;
    }

    header nav ul li {
        margin: 0.5rem 0;
    }
}

/* Fondo de la página */
body {
    background-image: url('imagenes/14.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilo para los íconos al pie de la página */
.icon-section {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    padding: 20px 0;
    z-index: 1000;
}

.feature {
    text-align: center;
    margin: 0 80px;
}

.feature img {
    width: 100px;
    height: auto;
}

.feature p {
    margin-top: 1px;
    font-size: 22px;
    color: #070708;
    text-shadow: 
        1px 1px 0px white,
        -1px -1px 0px white,
        1px -1px 0px white,
        -1px 1px 0px white;
}
.compra-online {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #00aaff;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.compra-online a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.carrito-icono {
    width: 20px;
    vertical-align: middle;
    margin-right: 5px;
}


/* Estilo de botones de acceso */
.botones-acceso {
    margin: 20px; /* Ajusta el margen según lo necesites */
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Estilo para el texto de la tienda online */
.texto-tienda-online {
    margin-top: 200px; /* Ajusta para que quede debajo del carrusel */
    text-align: center;
}

h2 {
    font-size: 24px;
    color: #333;
}
.slider {
    width: 75vw;
    height: auto;
    margin: 30px auto 0 auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(200px * 14);
}

.slider .slide {
    width: 200px;
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}