/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

body {
    background-image: url('imagenes/images2.jpeg'); 
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
/* Contenedor de pestañas */
.tabs-container {
    display: flex;
    justify-content: center; /* Centra las pestañas horizontalmente */
    margin: 20px 0;
}

/* Estilo para las pestañas */
.tab {
    padding: 10px 20px;
    background-color: #e0e0e0;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px 5px 0 0; /* Bordes redondeados superiores */
    transition: background-color 0.3s ease;
}

.tab:hover {
    background-color: #ccc; /* Cambio de color al pasar el ratón */
}

/* Pestaña activa */
.tab.active {
    background-color: #f1f1f1; /* Color de fondo de la pestaña activa */
    border-bottom: 2px solid #fff; /* Hace que la pestaña activa parezca "conectada" al contenido */
}

/* Contenido de las pestañas */
.tab-content {
    display: none;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 0 5px 5px 5px; /* Bordes redondeados inferiores */
    margin-top: -1px; /* Une el contenido a la pestaña activa */
}

.tab-content.active {
    display: block; /* Solo muestra el contenido activo */
}


header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    background: url(img/header.jpeg);
}


header h1 {
    font-family: "Dancing Script", cursive;
    font-size: 2.5rem;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Contenedor principal */
main {
    padding: 1px;
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 2rem;
}



/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
}

/* Responsivo */
@media (max-width: 768px) {
    #product-list {
        flex-direction: column;
        align-items: center;
    }
}
